@import '../../variables';

.mailling {
  &__call {
    color: $grey700;
    margin-bottom: 1.5em;
  }

  &__input-container {
    display: flex;
    align-items: center;
    
    input {
      background-color: transparent;
      background-image: none;
      border: 1px solid $grey200;
      border-radius: 3px;
      box-shadow: none;
      font-family: $primary-font;
      height: 3em;
      margin-right: .75em;
      padding: 0 1em;
      width: 22.5em;
    }
  }
}

@include respond-to('phone') {
  .mailling__input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;

    input {
      margin-right: 0;
    }

    button {
      width: 20.5em;
      margin-top: .6em;
    }
  }
}
