@import '../../variables';

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6.25em .5em 0;
  width: 100%;

  &__title {
    color: $grey;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 2.5em;
  }

  &__items {
    display: flex;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  border-top: 2px solid $primary-color;
  display: flex;
  margin-top: 100px;
  padding: 2.5em 0 7em 20em;
  width: 100%;

  &__link {
    color: $grey700;
    cursor: pointer;
    margin: 0 7em 1em 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8em;
    margin-top: 1em;

    &-title {
      color: $grey;
      font-weight: 700;
    }
  }

  & .logo {
    margin-right: 7vw;
  }
}
