.button {
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  padding: 12px 20px;
  text-decoration: none;
  white-space: nowrap;

  &--outlined {
    background-color: transparent;
    border-color: white;
  }

  &--small {
    height: 20px;
  }

  &--primary {
    border-color: #FF4E50;
    color: #FF4E50;
  }

  &--contained {
    background-color: #FF4E50;
    border-color: #FF4E50;
    font-weight: 600;
  }
}
