@import '../../variables';

.button {
  align-items: center;
  background-color: transparent;
  border: .12em solid transparent;
  border-radius: 5em;
  color: $white;
  cursor: pointer;
  display: flex;
  font-family: $primary-font;
  font-size: .88em;
  justify-content: center;
  padding: .75em 1.25em;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: content-box;

  &--outlined {
    background-color: transparent;
    border-color: $white;
  }

  &--small {
    height: 1.25em;
  }

  &--primary {
    border-color: $primary-color;
    color: $primary-color;
  }

  &--contained {
    background-color: $primary-color;
    border-color: $primary-color;
    font-weight: 600;
  }
}

.button.button--outlined.button--primary {
  font-weight: 700;
}

.button.button--contained.button--primary {
  color: $white;
}
