@import '../../variables';

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 6.25em .5em 0;
  width: 100%;

  .section__title {
    align-self: center;
  }
}

@include respond-to('phone') {
  .cards-container {
    height: 80%;

    .card {
      height: 40vh;
    }
  }
}

@include respond-to('tablet') {
  .cards-container {
    height: 80%;
  }
}

.slick-slider .slick-list {
  margin: 0 auto;
  max-width: 1120px;
}

.slick-dots {
  bottom: -35px !important;

  li button::before {
    color: $primary-color !important;
    font-size: 12px !important;
  }
}
