@import '../../variables';

.hero-banner {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  height: 77%;
  justify-content: center;
  position: relative;
  width: 100%;

  &__background {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;

    &::before {
      background: $orange;
      background-attachment: fixed;
      background-blend-mode: darken;
      background-image: url('https://images.unsplash.com/photo-1470754260170-299cad39501f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1440'), linear-gradient($light-orange, $orange);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      height: 100%;
      object-fit: contain;
      opacity: .85;
      position: absolute;
      width: 100%;
    }
  }

  &__title {
    color: $white;
    font-size: 3.25em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    color: $white;
    font-size: 1.5em;
    margin: 1.7em 0;
  }

  .logo {
    display: none;
  }
}

@include respond-to('phone') {
  .hero-banner {
    height: 80%;

    .logo {
      display: block;
      margin-bottom: 2em;
    }

    &__title {
      font-size: 2.1em;
    }

    &__description {
      font-size: 1em;
      text-align: center;
    }
  }
}
